/* Base styles */
.app-title a {
    color: white;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.app-title h1 {
    font-size: 2rem;
}

.app-title a:hover {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, .2);
}

/* App page styles */
.app-header {
    background-color: #1A1B20;
    /*background-color: #1e66ff;*/
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 10px;
    box-shadow: 0 5px 5px -1px rgba(0,0,0,.3);
}

.filter-section {
    padding: 15px;
}

.filter-section > div {
    padding: 15px 5px;
}

.results-section {
    border-left: 1px solid rgba(40, 44, 52, .1);
}

#selected-filters {
    padding: 20px;
}

.App-link {
    color: #09d3ac;
}

.result-item {
    -webkit-transition: all .9s; /* Safari prior 6.1 */
    transition: all .9s;
}

.result-item:hover {
    text-decoration: none !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    color: #282c34 !important;
    box-shadow: inset 0 0 10px -5px rgba(40, 44, 52, .8) !important;
}

#collapse-filters-button {
    width: 100%;
    text-align: left;
    margin: 25px 15px 0 15px;
    font-size: 1.5rem;
    padding: 10px 0;
    border-bottom: thin solid black;
    border-radius: 0;
    color: #282c34;
    font-weight: lighter;
}

#collapse-filters-button:hover, #collapse-filters-button:active, #collapse-filters-button:focus {
    text-decoration: none;
}

#collapse-filters-button {
    position:relative;
}
#collapse-filters-button i {
    position:absolute;
    line-height: 24px;
    top:50%;
    margin-top: -12px; /* Half of line height to keep left middle postion of container */
    right: 10px;
}

.filter-slider .rheostat-progress {
    background-color: #1A1B20 !important;
}

/* Oer page styles */
.app-header {
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 10px;
}

.app-title h1 {
    padding: 0 10px;
}

.search-bar {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    height: 42px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    font-size: 0.9rem;
    outline: none;
}

.oer-title {
    margin: 25px 0;
}

.oer-content {
    margin-bottom: 60px;
}

.oer-details {
    margin-bottom: 25px;
    padding: 0;
}

.oer-details li {
    list-style: none;
    display: inline-block;
    color: #52565c;
    margin-right: 10px;
    margin-bottom: 8px;
    /*text-shadow: 3px 3px 2px rgba(0,0,0,.1);*/
    box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, .1);
    border: thin solid rgb(82, 86, 92);
    border-radius: 3px;
    padding: 5px 9px;
}

.oer-description {
    text-align: justify;
}

.oer-image {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, .2);
}

/* Placeholder */

.container-placeholder {
    background-color: #fff;
    margin: 30px;
}

.container-placeholder {
    font-size: 0;
    line-height: 0;
}
.container-placeholder .text {
    display: inline-block;
    background-color: #444;
    height: 12px;
    border-radius: 100px;
    margin: 5px 0;
    min-width: 100px;
    opacity: 0.1;
    animation: fading 1.5s infinite;
}
.container-placeholder .text:first-child {
    margin-top: 0;
}
.container-placeholder .text:last-child {
    margin-bottom: 0;
}
.container-placeholder .text.link {
    background-color: var(--blue);
    opacity: 0.4;
}
.container-placeholder .text.line {
    width: 100%;
}
.container-placeholder .text.category {
    width: 100px;
    margin-bottom: 10px;
}
.container-placeholder h1.text {
    height: 20px;
    margin: 3px 0;
    opacity: 0.2;
}
.container-placeholder .image {
    background-color: #f9f9f9;
}

.oer-details-placeholder {
    margin-top: 40px;
}

.oer-details-placeholder li {
    box-shadow: none;
    border: none;
}

@keyframes fading {
    0% {
        opacity: .1;
    }

    50% {
        opacity: .2;
    }

    100% {
        opacity: .1;
    }
}

/* Mobile */

@media (max-width: 992px) {
    .app-title {
        margin: 10px 0 20px 0;
    }

    .app-title h1 {
        padding: 0;
    }

    .search-container {
        margin-bottom: 10px;
    }
}


@media (max-width: 767px) {
    .app-title {
        text-align: center;
        margin: 20px 0;
    }

    .search-container {
        padding: 0 !important;
    }

    .result-item-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .oer-content .oer-image {
        width: 65%;
        margin: 0 auto 30px;
    }
}
